<div class="task-form-container">
    <h2>New Task</h2>
    <form (ngSubmit)="saveTask()">
      <label>Assigned To *</label>
      <select [(ngModel)]="task.assignedTo" name="assignedTo" required>
        <option>User 1</option>
        <option>User 2</option>
        <option>User 3</option>
        <option>User 4</option>
      </select>
      <label>Status *</label>
      <select [(ngModel)]="task.status" name="status" required>
        <option>Not Started</option>
        <option>In Progress</option>
        <option>Completed</option>
      </select>
      <label>Due Date</label>
      <input type="date" [(ngModel)]="task.dueDate" name="dueDate">
      <label>Priority *</label>
      <select [(ngModel)]="task.priority" name="priority" required>
        <option>Low</option>
        <option>Normal</option>
        <option>High</option>
      </select>
      <label>Description</label>
      <textarea [(ngModel)]="task.description" name="description"></textarea>
      <div class="form-buttons">
        <button type="button" (click)="cancel()">Cancel</button>
        <button type="submit">Save</button>
      </div>
    </form>
  </div>
  